nav {
    background-color: darkblue;
    padding: 20px;
}

nav li {
    display: inline;
    margin: 1%;
}

nav a {
    color: white;
    text-decoration: none;
}

header {
    padding: 5%;
    background-image: linear-gradient(cornflowerblue 0%, blue 100%);
    color: lightgray;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    box-shadow: 7px 7px 7px rgb(0, 0, 61);
    border: 4px solid darkblue;
    border-radius: 10px;
}

h1 {
    font-size: 200%;
    text-align: center;
    margin: 2%;
}

h2 {
    font-size: 150%;
    text-align: center;
    margin: 1%;
}

section {
    padding: 2%;
    line-height: 175%;
    text-align: center;
}

section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

p {
    font-size: 125%;
    margin-left: 5%;
    margin-right: 5%;
}

#first-project img {
    width: 400px;
}